@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Visualization</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualizeProduct", "Chart")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });

        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'ProductName');
            data.addColumn('number', 'Stock');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.productName, obj.stock]);
            });
            data.addRows(dataArray);

            var PieChartOptions = {
                title: "Product - Stock Graph",
                width: 1000,
                height: 500,
                bar: { groupWidth: "20%" },
            };
            var pieChart = new google.visualization.PieChart(document
                .getElementById('Piechart_div'));

            pieChart.draw(data, PieChartOptions);
        }
    </script>
</head>
<body>
    <div id="Piechart_div"></div>
</body>
</html>
