@model Product

<form method="post" asp-action="Edit">
    <input asp-for="ProductId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Name</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-bg-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-bg-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="UnitInStock"></label>
            <input asp-for="UnitInStock" class="form-control" />
            <span asp-validation-for="UnitInStock" class="text-bg-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UnitPrice"></label>
            <input asp-for="UnitPrice" class="form-control" />
            <span asp-validation-for="UnitPrice" class="text-bg-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            <input asp-for="CategoryId" class="form-control" />
            <span asp-validation-for="CategoryId" class="text-bg-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:200px">Update</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-primary" style="width:200px">
            Back to List
        </a>
    </div>

</form>